ORACLE_API_CONNECTION_STRING=User Id=seu_usuario;Password=sua_senha;Data Source=
ORACLE_ALERTS_CONNECTION_STRING=User Id=seu_user_bd;Password=sua_senha_autonomous_database;Data Source=  
ORACLE_RECOMMENDATIONS_CONNECTION_STRING=User Id=seu_user_bd;Password=sua_senha_autonomous_database;Data Source= 
ORACLE_READINGS_CONNECTION_STRING=User Id=seu_user_bd;Password=sua_senha_autonomous_database;Data Source= 
