@model IEnumerable<AgroTech.Application.DTOs.SensorDTO>

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var sensor in Model)
    {
        <tr>
            <td>@sensor.Name</td>
            <td>@sensor.Type</td>
            <td>@sensor.Value</td>
            <td>@sensor.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
        </tr>
    }
    </tbody>
</table>