@model AgroTech.Application.DTOs.CropDTO

@{
    ViewData["Title"] = "Excluir Safra";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que deseja excluir a safra "@Model.Name"?</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>